<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>William Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <header class="site-header">
        <div class="header-inner">
            <a href="{{ url_for('index') }}"><div class="site-title">WILLIAM TRACKER</div></a>

            <nav class="nav-menu">
                <a href="{{ url_for('index') }}">Accounts</a>
                <a href="{{ url_for('add_bill') }}">Add</a>
            </nav>
        </div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer class="site-footer">
        <p>&copy; 2026 Mr. Bill Tracker</p>
    </footer>

</body>
</html>
