{% extends "base.html" %}

{% block content %}

<!--<h1>Dashboard</h1>-->

{% for bill in bills %}

<div class="card">

    <h3>{{ bill.vendor }}</h3>
    <p>{{ bill.due_date }} -
    ${{ "%.2f"|format(bill.amount_due) }}</p>
    {% if bill.status == "paid" %}
        <p class="status-paid">
            Paid ${{ "%.2f"|format(bill.amount_paid) }}
        </p>
    {% else %}
        <a href="{{ bill.pmt_url }}" target="_blank">Pay Online</a> -
        <a href="{{ url_for('payment', bill_id=bill.id) }}">Record Payment</a>
    {% endif %}

</div>

{% endfor %}

{% endblock %}
