{% macro terminal_header(prefix, title, level="h2") %}
<{{ level }} class="terminal-header">

    [

    <span class="terminal-title">
        {{ title }}
    </span>

    <span class="terminal-prefix">
        {{ prefix }}
    </span>

    ]

</{{ level }}>
{% endmacro %}

{% macro terminal_button(label, prefix="[ ", suffix=" ]") %}
<span class="terminal-button-suffix">
    {{ prefix }}
</span>
<span class="terminal-button-label">
    {{ label }}
</span>
<span class="terminal-button-suffix">
    {{ suffix }}
</span>
{% endmacro %}
